<meta charset="utf-8">
<title>WTSHTF</title>
<meta name="description" content="Nuclear radiation warner.">
<meta name="viewport" content="width=device-width">
<meta name="google-site-verification" content="CcwvP0st3pF8ulJGmpm9_dGNse5SEu7q2Sov5ai0_co" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/michalsnik/aos@2.1.1/dist/aos.css" />
<link rel="stylesheet" href="/stylesheets/styles.css" />
<link rel="icon" type="image/png" href="/img/favicon.png" sizes="64x64">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
